html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 120px 0 80px;
    height: 80px;
    background-color: black;
    color: #fff;
    font-size: 18px;
}

.header .company-name {
    display: flex;
    align-items: center;
    align-self: center;
    color: #fff;
    font-size: 14px;
}

.header .company-name .logo {
    margin: 0 20px;
    background-image: url(./images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.header ul, .header ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    margin-left: 20px;
}

.header ul .active a {
    color: green !important;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

.swiper-container {
    margin-top: 40px;
    width: 1000px;
    height: 500px;
}

.main .swiper-wrapper {

}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
    background-image: url(images/WechatIMG380.png);
}

.swiper-slide:nth-child(2) {
    background-image: url(images/WechatIMG381.png);
}

.swiper-slide:nth-child(3) {
    background-image: url(images/WechatIMG382.png);
}

.swiper-slide:nth-child(4) {
    background-image: url(images/WechatIMG383.png);
}

/*
公司简介
*/
.main .company-desp {
    margin: 40px 200px 0;
}

.main .company-desp .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.main .company-desp .company {
    display: flex;
    padding-top: 40px;
}

.main .company-desp .logo {
    width: 200px;
    height: 150px;
    background-color: #007aff;
}

.main .company-desp .details {
    flex: 1;
    margin-left: 40px;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}

.main .more {
    margin: 40px 200px 0;
    font-size: 16px;
    color: #fff;
}

.main .aliment {
    margin: 40px 200px 0;
}

.main .aliment .al-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.main .aliment .el-container {
    display: flex;
    padding-top: 40px;
}

.main .aliment .el-container .al-element {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    background-color: #007aff;
}

.main .aliment .el-container .al-element:first-child {
    margin-left: 0;
}

/*
解决方案
*/
.main .solution-container {
    margin: 40px 200px 0;
    color: #fff;
}

.main .solution-container .solution-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.main .solution-container .solution-list:first-child {
    margin-top: 0;
}

.main .solution-container .solution-list .sub-title {
    font-size: 18px;
    font-weight: bold;
}

.main .solution-container .solution-list .details {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-left: 40px;
    word-break: break-all;
}

/*
case
*/

.main .case-container {
    margin: 40px 200px 0;
    color: #fff;
}

.main .case-container .title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.main .case-container .case-list {
    margin-top: 40px;
}

.main .case-container .case-list .case-list-item {
    margin-top: 20px;
}

.main .case-container .case-list .case-list-item .sub-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.main .case-container .case-list .case-list-item .details {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

/*
联系我们
*/
.contact-container {
    margin: 40px 200px 0;
    color: #fff;
}

.contact-container .title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.contact-container .desp {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.contact-container .contact .title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.contact-list {
    margin-top: 20px;
}

.contact-list-item {
    margin-top: 10px;
    font-size: 16px;
}

.footer {
    height: 320px;
    background-color: rgba(0, 0, 0, 0.6);
}

